* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/public/imagenes/fondo14.png");
    height: 100%;
}

main {
    min-height: calc(100vh - 20em);
}

.content {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    min-height: calc(100vh - 20em);
    align-items: center;
    padding: 30px;
}

/* VISTA USUARIO */
.imgPerfil {
    height: 50vh;
    width: 50vh;
}

.card {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

#qr {
    height: 30vh;
    width: 30vh;
}

/* VISTA PARTIDA */
#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: #0d6efd;
}