
<footer class="py-5 bg-dark footer">
    <div class="container">
        <p class="m-0 text-center text-white">Aquino Mariana 43.032.501 / Fittipaldi Hernan 39.909.762 / Menu Lisandro 44.341.895 / Turrer Lucas 37.931.874</p>
        <p class="m-0 text-center text-white">Programación Web II - Tecnicatura en Desarrollo Web - Universidad Nacional de La Matanza</p>
        <p class="m-0 text-center text-white">Copyright 2023 &copy;</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>