<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        {{#player}}
            <h1 class="text-center text-primary display-2 fw-bold">{{userName}}, sugerí una pregunta</h1>
            <br>
            <h4 class="text-center fw-bold">Si tu pregunta es interesante y no se encuentra en el juego, será aprobada
                en las proximas 48hs hábiles</h4>
            <br>
        {{/player}}
        {{#edit}}
            <h1 class="text-center text-primary display-2 fw-bold">{{userName}}, creá la pregunta</h1>
            <br>
            <h4 class="text-center fw-bold">La pregunta será aprobada automáticamente y pasará a formar parte de las
                partidas.</h4>
            <br>
        {{/edit}}
        <form action="/question/addQuestion" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="form-group">
                        <label>Pregunta</label>
                        <input required name="descripcion" class="form-control" placeholder="Por ejemplo.. ¿Cómo se llama el mejor juego de trivia?">
                    </div>
                    <div class="form-group">
                        <label>Respuesta A</label>
                        <input required name="opcionA" class="form-control" placeholder="Pregunton">
                    </div>
                    <div class="form-group">
                        <label>Respuesta B</label>
                        <input required name="opcionB" class="form-control" placeholder="Preguntitas">
                    </div>
                    <div class="form-group">
                        <label>Respuesta C</label>
                        <input required name="opcionC" class="form-control" placeholder="Yo soy pregunton">
                    </div>
                    <div class="form-group">
                        <label>Respuesta D</label>
                        <input required name="opcionD" class="form-control" placeholder="Preguntonton">
                    </div>
                    <div class="form-group">
                        <label>Categoria</label>
                        <select name="idCategoria" class="form-control" required>
                            <option value="1">Conocimiento general</option>
                            <option value="2">Programación PHP</option>
                            <option value="3">Base de datos</option>
                            <option value="4">Programación Orientada a Objetos</option>
                            <option value="5">Estilos en CSS</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Respuesta correcta</label>
                        <select name="respuestaCorrecta" class="form-control" required>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-center">
                        <br>
                        <a href="/lobby" class="btn btn-primary m-3">Volver al lobby</a>
                        <button type="submit" class="btn btn-primary m-3">Crear pregunta</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
