<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <article class="mx-auto">
            <br>
            <div class="d-flex">
                <h3 class="col-11"> Total de Partidas: {{totalGames}}</h3>
                <a href="/admin/totalGamesPdf" class="btn btn-primary col-1">
                    <i class="fa-solid fa-file-arrow-down"></i> PDF
                </a>
            </div>
            <div>
                <form action="/admin/totalGames" method="post" enctype="multipart/form-data" class="row g-3">
                    <div class="col-4">
                        <label for="finit">Fecha inicio</label>
                        <input required type="date" id="finit" name="finit" value="2023-01-01">
                    </div>
                    <div class="col-4">
                        <label for="fend">Fecha final</label>
                        <input required type="date" id="fend" name="fend" value="2023-12-12">
                    </div>
                    <div class="col-4 d-flex justify-content-between">
                        <input type="submit" value="Confirmar" class="btn btn-primary m-2">
                    </div>

                </form>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Partida Num</th>
                    <th>Usuario Id</th>
                    <th>Puntaje</th>
                    <th>Fecha y hora</th>
                </tr>
                </thead>
                <tbody>
                {{#allGames}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{id_usuario}}</td>
                        <td>{{puntaje}}</td>
                        <td>{{fecha}}</td>
                    </tr>
                {{/allGames}}
                {{^allGames}}
                    {{#games}}
                        <p class="text-center fw-bold display-5"> No hay partidas jugadas</p>
                    {{/games}}
                {{/allGames}}
                </tbody>
            </table>
        </article>

        <div class="pagination">
            {{#paginas}}
                <a href="?pagina={{numero}}" class="{{#esActual}}active{{/esActual}}">{{numero}}</a>
            {{/paginas}}
        </div>
        </article>
        <div class="d-flex justify-content-center">
            <br>
            <a href="/lobby" class="btn btn-lg btn-primary m-3">Volver al lobby</a>
        </div>
    </div>
</main>
