{{> headerIndex}}
<link rel="stylesheet" href="/public/css/home.css">
<main>
    <div class="container py-5">
        <div class="content row bg-light rounded-3">
            <div class="col-lg-8 ">
                <h1 class="p-1 fw-bold">Preguntón</h1>
                <h2 class="p-1 display-6 fw-bold"> ¿Qué esperás para empezar?</h2>
                <p class="fs-4">¡Divertite con el juego de trivia más interesante!</p>
                <p class="fs-5">Respondé todas las preguntas para subir en el ranking y desafíar a tus amigos.</p>
            </div>
            <div class="col-lg-4 p-4">
                <form class="d-flex flex-column my-3" method="post" action="/Home/login" enctype="multipart/form-data">
                    <input name="usuario" class="form-control mb-3" type="text" placeholder="Usuario">
                    <input name="clave" class="form-control mb-3" type="password" placeholder="Contraseña">
                    <button class="btn btn-primary">Iniciar sesión</button>
                </form>
                    <p>¿Olvidaste tu contraseña? <a href="#">Recuperar contraseña</a></p>
                    <p>¿No estás registrado? <a href="/registro">Registrate</a></p>
            </div>
        </div>
    </div>
</main>
{{> footer}}