<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <h1 class="text-center text-primary display-2 fw-bold">¡{{welcome}} {{userName}}!</h1>
        <h2 class="text-center">
            ¿Qué necesita consultar hoy?
        </h2>
        <article class="d-grid gap-2 col-6 mx-auto mt-4">
            <button type="button"  class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#filterModalUser">Usuarios</button>
            <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#filterModalGames">Partidas</button>
            <button type="button"  class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#filterModalQuestions">Preguntas</button>
        </article>
    </div>

    <div class="modal fade" id="filterModalUser" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalLabel">Filtrar por fecha</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/admin/totalUser" method="post" enctype="multipart/form-data" class="row g-3">
                        <label for="finit">Fecha inicio</label>
                        <input required type="date" id="finit" name="finit" value="2023-01-01">
                        <label for="fend">Fecha final</label>
                        <input required type="date" id="fend" name="fend" value="2023-12-12">
                </div>
                <div class="col-12">
                    <br>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Confirmar" class="btn btn-primary m-2">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterModalGames" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalLabel">Filtrar por fecha</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/admin/totalGames" method="post" enctype="multipart/form-data" class="row g-3">
                        <label for="finit">Fecha inicio</label>
                        <input required type="date" id="finit" name="finit" value="2023-01-01">
                        <label for="fend">Fecha final</label>
                        <input required type="date" id="fend" name="fend" value="2023-12-12">
                </div>
                <div class="col-12">
                    <br>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Confirmar" class="btn btn-primary m-2">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="filterModalQuestions" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalLabel">Filtrar por fecha</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/admin/totalQuestions" method="post" enctype="multipart/form-data" class="row g-3">
                        <label for="finit">Fecha inicio</label>
                        <input required type="date" id="finit" name="finit" value="2023-01-01">
                        <label for="fend">Fecha final</label>
                        <input required type="date" id="fend" name="fend" value="2023-12-12">
                </div>
                <div class="col-12">
                    <br>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Confirmar" class="btn btn-primary m-2">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</main>
