<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <h1 class="text-center text-primary display-2 fw-bold">¡{{welcome}} {{userName}}!</h1>
        <h2 class="text-center">
            {{#player}}Mejor puntaje: {{puntaje_max}}{{/player}}
{{#edit}}¿Qué haremos hoy?{{/edit}}
    {{#admin}}¿Qué necesita consultar hoy?{{/admin}}
        </h2>
        <article class="d-grid gap-2 col-6 mx-auto mt-4">
           {{#player}}
               <a href="/partida" class="btn btn-primary btn-lg">Nueva partida</a>
               <a href="/ranking" class="btn btn-outline-primary btn-lg">Ver clasificación</a>
               <a href="/" class="btn btn-outline-primary btn-lg">Sugerir preguntas</a>
           {{/player}}
           {{#edit}}
               <a href="/" class="btn btn-outline-primary btn-lg">Dar de alta nuevas preguntas</a>
                <a href="/" class="btn btn-outline-primary btn-lg">Dar de baja preguntas</a>
                <a href="/" class="btn btn-outline-primary btn-lg">Revisar preguntas sugeridas</a>
           {{/edit}}
           {{#admin}}
               <a href="/" class="btn btn-outline-primary btn-lg">Total de jugadores registrados</a>
                <a href="/" class="btn btn-outline-primary btn-lg">Total de partidas jugadas</a>
                <a href="/" class="btn btn-outline-primary btn-lg">Total de preguntas</a>
                <a href="/" class="btn btn-outline-primary btn-lg">Total de preguntas creadas</a>
                <a href="/" class="btn btn-outline-primary btn-lg">Cantidad de usuarios nuevos</a>
                <a href="/" class="btn btn-outline-primary btn-lg">Porcentaje de preguntas respondidas correctamente por usuario</a>
               <a href="/" class="btn btn-outline-primary btn-lg">Cantidad de usuarios por pais</a>
               <a href="/" class="btn btn-outline-primary btn-lg">Cantidad de usuarios por sexo</a>
               <a href="/" class="btn btn-outline-primary btn-lg">Cantidad de usuarios por grupos de edad menor jubilado medio</a>
               <a href="/" class="btn btn-outline-primary btn-lg">Filtrar por dia mes y año. Grafico PDF</a>
           {{/admin}}
        </article>
{{#player}}<article class="mx-auto">
            <br>
            <h3>Partidas jugadas</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id:</th>
                    <th>Puntaje:</th>
                </tr>
                </thead>
                <tbody>{{#games}}
                    <tr>
                        <td># {{id}}</td>
                        <td>{{puntaje}} puntos</td>
                    </tr>
                {{/games}}</tbody>
            </table>
        </article>
    </div>

    <div class="modal" id="lostModal">
        <section class="modal-dialog">
            <article class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Partida finalizada</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Lo sentimos, ¡Has perdido el juego!</p>
                    <p>Cantidad de respuestas correctas: {{userCorrects}}</p>
                    <p>¡Intentá nuevamente y lidera la clasificación!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </article>
        </section>
    </div>
{{/player}}
</main>

{{#showLostModal}}<script src="/public/js/lobbyLostModal.js"></script>{{/showLostModal}}