<main class="py-5">
<div class="content container px-lg-5 p-4 bg-light rounded-3">
    <h1 class="text-center text-primary display-2 fw-bold">¡{{welcome}} {{userName}}!</h1>
    <h2 class="text-center">Mejor puntaje: {{puntaje_max}}</h2>
    <article class="d-grid gap-2 col-6 mx-auto mt-4">
        <a href="/partida" class="btn btn-primary btn-lg">Nueva partida</a>
        <a href="/ranking" class="btn btn-outline-primary btn-lg">Ver clasificación</a>
        <a href="/question/add" class="btn btn-outline-primary btn-lg">Sugerir preguntas</a>
    </article>
        <article class="mx-auto">
            <br>
            <h3>Ultimas 5 partidas jugadas</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id:</th>
                    <th>Puntaje:</th>
                    <th>Fecha y hora:</th>
                </tr>
                </thead>
                <tbody>{{#games}}
                    <tr>
                        <td># {{id}}</td>
                        <td>{{puntaje}} puntos</td>
                        <td>{{fecha}}</td>
                    </tr>
                {{/games}}</tbody>
            </table>
        </article>
    </div>
        <div class="modal" id="lostModal">
            <section class="modal-dialog">
                <article class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Partida finalizada</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p>Lo sentimos, ¡Has perdido el juego!</p>
                        <p>Cantidad de respuestas correctas: {{userCorrects}}</p>
                        <p>¡Intentá nuevamente y liderá la clasificación!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </article>
            </section>
        </div>
</main>
{{#showLostModal}}
    <script src="/public/js/lobbyLostModal.js"></script>
{{/showLostModal}}