<main class="py-5">
<div class="content container px-lg-5 p-4 bg-light rounded-3">
    <h1 class="text-center text-primary display-2 fw-bold">¡{{welcome}} {{userName}}!</h1>
    <h2 class="text-center">¿Qué haremos hoy?</h2>
    <article class="d-grid gap-2 col-6 mx-auto mt-4">
        <a href="/addQuestion" class="btn btn-primary btn-lg">Crear nueva pregunta</a>
        <a href="/question/reportedView" class="btn btn-outline-primary btn-lg">Ver preguntas reportadas</a>
        <a href="/question/suggestedView" class="btn btn-outline-primary btn-lg">Ver preguntas sugeridas</a>
        <a href="/question/acceptedView" class="btn btn-outline-primary btn-lg">Ver preguntas aceptadas</a>
    </article>
</div>
</main>