<link rel="stylesheet" href="/public/css/home.css">
<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <h1 class="text-center display-3 fw-bold">
            ¡{{welcome}} {{userLogged}}!
        </h1>
        <h2 class="text-center">Puntaje máximo: {{Puntaje_max}}</h2>
        <div class="d-grid gap-2 col-6 mx-auto mt-4">
            <a href="/partida" class="btn btn-primary btn-lg">Nueva partida</a>
            <a href="/ranking" class="btn btn-outline-primary btn-lg">Ver clasificación</a>
        </div>
        <div class="mx-auto">
            <h3>Partidas jugadas</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id Partida:</th>
                    <th>Puntaje obtenido:</th>
                </tr>
                </thead>
                <tbody>
                {{#games}}
                    <tr>
                        <td># {{id}}</td>
                        <td>{{puntaje}} puntos</td>
                    </tr>
                {{/games}}
                </tbody>
            </table>
        </div>
    </div>
</main>
