<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <section class="text-center">
            <img src="/public/imagenes/brainpuzzle.png" width="400px" class="mx-auto d-block img-fluid" alt="">
        </section>
        <h2 class="text-center display-5 fw-bold">¡Gracias por colaborar con nuestra base de datos!</h2>
        <p class="text-center display-5">Tu pregunta sera evaluada</p>
        <section class="text-center">
            <a href="/lobby" class="btn btn-primary btn-lg">Volver</a>
        </section>
    </div>
</main>