<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        {{#Foto_perfil}}
            <img src="/public/imagenes/{{Foto_perfil}}" width="50px" class="rounded mx-auto d-block">
        {{/Foto_perfil}}
        {{^Foto_perfil}}
            <img src="/public/imagenes/perfil.jpg" width="50px" class="rounded mx-auto d-block">
        {{/Foto_perfil}}

        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="myProgressBar"></div>
        </div>

        <h5 class="text-center">Responde antes de que se acabe el tiempo!</h5>
        <div class="text-center fw-bold display-2" id="cronometro"></div>
        <div class="text-center">
            <button class="btn btn-outline-primary btn-sm"> Reportar</button>
            <br>
            <h2 class="display-6 fw-bold" id="questionDescripcion"></h2>
        </div>
        <div>
            <form action="/partida/checkAnswer" method="post" id="form" enctype="multipart/form-data" class="d-grid gap-2 col-6 mx-auto mt-4">
                <button class="btn fw-bold btn-outline-primary btn-lg" id="opciona" type="button" name="optionSelected" value="A">A) </button>
                <button class="btn fw-bold btn-outline-primary btn-lg" id="opcionb" type="button" name="optionSelected" value="B">B) </button>
                <button class="btn fw-bold btn-outline-primary btn-lg" id="opcionc" type="button" name="optionSelected" value="C">C) </button>
                <button class="btn fw-bold btn-outline-primary btn-lg" id="opciond" type="button" name="optionSelected" value="D">D) </button>
            </form>
            <p class="text-center">Cantidad de respuestas correctas: {{userCorrects}}</p>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/public/js/partida.js"></script>