<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        {{#userPhoto}}
            <img src="/public/imagenes/{{userPhoto}}" width="50px" class="rounded mx-auto d-block" alt="Foto perfil">
        {{/userPhoto}}
        {{^userPhoto}}
            <img src="/public/imagenes/perfil.jpg" width="50px" class="rounded mx-auto d-block" alt="Foto perfil">
        {{/userPhoto}}
        <div id="myProgress">
            <div id="myBar"></div>
        </div>
        <h5 class="text-center">Responde antes de que se acabe el tiempo!</h5>
        <br>
        <section class="text-center">
            <h2 class="display-6 fw-bold" id="questionDescripcion"></h2>
            <button class="btn btn-outline-primary btn-sm"> Reportar</button>
            <form class="d-grid gap-2 col-6 mx-auto mt-4" action="/partida/checkAnswer" method="post" id="form"
                  enctype="multipart/form-data">
                <button type="button" class="btn btn-primary btn-lg" name="optionSelected" id="opciona"
                        onClick="selected(this.value)" value="A">A
                </button>
                <button type="button" class="btn btn-primary btn-lg" name="optionSelected" id="opcionb"
                        onClick="selected(this.value)" value="B">B
                </button>
                <button type="button" class="btn btn-primary btn-lg" name="optionSelected" id="opcionc"
                        onClick="selected(this.value)" value="C">C
                </button>
                <button type="button" class="btn btn-primary btn-lg" name="optionSelected" id="opciond"
                        onClick="selected(this.value)" value="D">D
                </button>
            </form>
           <!-- <p class="text-center">Respuestas correctas: <span id="userCorrects">{{userCorrects}}</span></p>-->
        </section>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/public/js/partida.js"></script>