<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <h1 class="col-11"> Estadisticas de usuarios</h1>
        <article class="mx-auto">
            <br>
            <div class="d-flex">
                <h2 class="col-11"> Todos los usuarios</h2>
                <a href="/admin/totalUser&generarPDF=true" class="btn btn-primary col-1">
                    <i class="fa-solid fa-file-arrow-down"></i> PDF
                </a>
            </div>
            {{#empty}}
                <h2 class="text-center fw-bold display-5"> No hay jugadores con los filtros seleccionados</h2>
            {{/empty}}
            {{^empty}}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre de Usuario</th>
                    <th>Email</th>
                    <th>Género</th>
                    <th>Fecha de Nac.</th>
                    <th>Fecha registro</th>
                    <th>Respuestas correctas</th>
                </tr>
                </thead>
                <tbody>
                {{#allPlayers}}
                    <tr>
                        <td>{{Id}}</td>
                        <td>{{Nombre_usuario}}</td>
                        <td>{{Mail}}</td>
                        <td>{{Genero}}</td>
                        <td>{{Fecha_nacimiento}}</td>
                        <td>{{Fecha_registro}}</td>
                        <td>{{nivel}}%</td>
                    </tr>
                {{/allPlayers}}
                {{^allPlayers}}
                    <tr>
                        <td colspan="6" class="text-center fw-bold display-5"> No hay jugadores</td>
                    </tr>
                {{/allPlayers}}
                </tbody>
            </table>
        </article>
        <article>
            <div>
                <h2 class="table-title">Usuarios por género</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Género</th>
                    <th>Cantidad de Usuarios</th>
                </tr>
                </thead>
                <tbody>
                {{#usersByGenre}}
                    <tr>
                        <td>{{Genero}}</td>
                        <td>{{cantidad_usuarios}}</td>
                    </tr>
                {{/usersByGenre}}
                </tbody>
            </table>
            </div>
            <div>
                <h2 class="table-title">Usuarios por país</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>País</th>
                    <th>Cantidad de Usuarios</th>
                </tr>
                </thead>
                <tbody>
                {{#usersFromCountry}}
                    <tr>
                        <td>{{Pais}}</td>
                        <td>{{cantidadUsuarios}}</td>
                    </tr>
                {{/usersFromCountry}}
                </tbody>
            </table>
            </div>
            <div>
                <h2 class="table-title">Usuarios por edad</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Edad</th>
                    <th>Cantidad de Usuarios</th>
                </tr>
                </thead>
                <tbody>
                {{#usersByAge}}
                    <tr>
                        <td>{{grupo_edad}}</td>
                        <td>{{cantidad_usuarios}}</td>
                    </tr>
                {{/usersByAge}}
                </tbody>
            </table>
            </div>
            <div>
                <h2 class="table-title">Total de jugadores</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Cantidad</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{totalPlayers}}</td>
                </tr>
                </tbody>
            </table>
            </div>
            {{/empty}}
            <div>
                <h2 class="table-title">Nuevos jugadores</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Registrados en los ultimos 3 días</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{usersNews}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>

        <div class="d-flex justify-content-center">
            <br>
            <a href="/lobby" class="btn btn-lg btn-primary m-3">Volver al lobby</a>
        </div>
    </div>
</main>

