<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <article class="mx-auto">
            <br>
            <div class="d-flex">
                <h3 class="col-11"> Total de Preguntas: {{totalQuestions}}</h3>
                <button type="button"class="btn btn-primary col-1"><i class="fa-solid fa-file-arrow-down"></i> PDF</button>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Pregunta</th>
                    <th>Opcion A</th>
                    <th>Opcion B</th>
                    <th>Opcion C</th>
                    <th>Opcion D</th>
                    <th>Correcta</th>
                </tr>
                </thead>
                <tbody>
                {{#allQuestions}}
                    <tr>
                        <td>{{descripcion}}</td>
                        <td>{{opcionA}}</td>
                        <td>{{opcionB}}</td>
                        <td>{{opcionC}}</td>
                        <td>{{opcionD}}</td>
                        <td>{{resp_correcta}}</td>
                    </tr>
                {{/allQuestions}}
            {{^allQuestions}}
                {{#questions}}
                    <p class="text-center fw-bold display-5"> No hay preguntas</p>
                {{/questions}}
            {{/allQuestions}}
                </tbody>
            </table>
        </article>
        <div class="d-flex justify-content-center">
            <br>
            <a href="/lobby" class="btn btn-lg btn-primary m-3">Volver al lobby</a>
        </div>
    </div>
</main>