{{>headerLogout}}
<link rel="stylesheet" href="/public/css/home.css">
<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3 " >
        <h1 class="text-center display-3 fw-bold">Clasificación actual</h1>
        <br>
        <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Jugador</th>
                <th>Puntaje</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="user">Mar</a></td>
                <td>150</td>
                <td>1°</td>
            </tr>
            <tr>
                <td><a href="user">Fitti</td>
                <td>132</td>
                <td>2°</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</main>
{{>footer}}