<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3 ">
        <h1 class="text-center text-primary display-2 fw-bold">Clasificación</h1>
        <br>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Jugador</th>
                    <th>Puntaje</th>
                    <th>Posicion</th>
                </tr>
                </thead>
                <tbody>
                {{#users}}
                    <tr>
                        <td><a href="user&name={{Nombre_usuario}}">{{Nombre_usuario}}</a></td>
                        <td>{{Puntaje_max}}</td>
                        <td>#{{Posicion}}</td>
                    </tr>
                {{/users}}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <br>
            <a href="/lobby" class="btn btn-lg btn-primary m-3">Volver al lobby</a>
        </div>
    </div>
</main>