<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <section class="text-center">
            <img src="/public/imagenes/brainpuzzle.png" width="400px" class="mx-auto d-block img-fluid" alt="">
        </section>
        <h2 class="text-center display-5 fw-bold">¡Solo queda un paso más!</h2>
        <p class="text-center display-5">Revisa tu bandeja de entrada y valida tu mail para continuar.</p>
        <section class="text-center">
            <a href="/" class="btn btn-primary btn-lg">Aceptar</a>
        </section>
    </div>
</main>