{{> headerIndex}}
{{mensaje}}
<main class="py-5">

    <div class="container px-lg-5 p-4 bg-light rounded-3">
        <h2 class="text-center display-3 fw-bold">¡Ya eres parte de Preguntón !</h2>
        <h3 class="text-center"> ¡El registro fue exitoso!</h3>
        <p class="text-center display-5 fw-bold"> Inicia sesion para continuar</p>
        <div class="d-grid gap-2 col-6 mx-auto mt-4">
            <a href="/" class="btn btn-primary btn-lg" >Iniciar Sesion</a>
        </div>
    </div>
</main>
{{> footer}}