
<link rel="stylesheet" href="/public/css/home.css">
<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <h2 class="text-center display-3 fw-bold">¡El registro fue exitoso!</h2>
        <p class="text-center display-5"> Inicia sesion para continuar</p>
        <div class="d-grid gap-2 col-6 mx-auto mt-4">
            <a href="/" class="btn btn-primary btn-lg" >Iniciar sesion</a>
        </div>
    </div>
</main>
