<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <article class="mx-auto">
            <br>
            <div class="d-flex">
                <h3 class="col-9">Preguntas
                    {{#suggested}}sugeridas por {{/suggested}}
                    {{#repport}}reportadas por {{/repport}}
                    {{#edit}}aceptadas y disponibles en las partidas de los{{/edit}}
                    jugadores</h3>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Pregunta</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>Correcta</th>
                    <th>Accion a realizar</th>
                </tr>
                </thead>
                <tbody>
                <!-- Preguntas sugeridas -->
                {{#questionsS}}
                    <tr>
                        <td>{{descripcion}}</td>
                        <td>{{opcionA}}</td>
                        <td>{{opcionB}}</td>
                        <td>{{opcionC}}</td>
                        <td>{{opcionD}}</td>
                        <td>{{resp_correcta}}</td>
                        <td>
                            <form action="/suggested/actions" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="idQuestion" value="{{id}}">
                                <button type="submit" name="action" value="decline" class="btn btn-primary">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                                <button type="submit" name="action" value="edit" class="btn btn-primary">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button type="submit" name="action" value="accept" class="btn btn-primary">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {{/questionsS}}
                <!-- Preguntas reportadas -->
                {{#questionsR}}
                    <tr>
                        <td>{{descripcion}}</td>
                        <td>{{opcionA}}</td>
                        <td>{{opcionB}}</td>
                        <td>{{opcionC}}</td>
                        <td>{{opcionD}}</td>
                        <td>{{resp_correcta}}</td>
                        <td>
                            <form action="/suggested/actions" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="idQuestion" value="{{id}}">
                                <button type="submit" name="action" value="decline" class="btn btn-primary">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                                <button type="submit" name="action" value="edit" class="btn btn-primary">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                                <button type="submit" name="action" value="accept" class="btn btn-primary">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {{/questionsR}}
                <!-- Preguntas aceptadas y disponibles -->
                {{#questionsE}}
                    <tr>
                        <td>{{descripcion}}</td>
                        <td>{{opcionA}}</td>
                        <td>{{opcionB}}</td>
                        <td>{{opcionC}}</td>
                        <td>{{opcionD}}</td>
                        <td>{{resp_correcta}}</td>
                        <td>
                            <form action="/suggested/actions" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="idQuestion" value="{{id}}">
                                <button type="submit" name="action" value="decline" class="btn btn-primary">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                                <button type="submit" name="action" value="edit" class="btn btn-primary">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {{/questionsE}}
                </tbody>
            </table>
            <!-- Mensajes de ausencia de preguntas -->
            {{^questionsS}}
                {{#suggested}}
                    <p class="text-center fw-bold display-5"> No hay preguntas sugeridas en este momento</p>
                {{/suggested}}
            {{/questionsS}}
            {{^questionsR}}
                {{#repport}}
                    <p class="text-center fw-bold display-5"> No hay preguntas reportadas en este momento</p>
                {{/repport}}
            {{/questionsR}}
            {{^questionsE}}
                {{#edit}}
                    <p class="text-center fw-bold display-5"> No hay preguntas disponibles en partidas en este momento</p>
                {{/edit}}
            {{/questionsE}}
        </article>
        <div class="d-flex justify-content-center">
            <br>
            <a href="/lobby" class="btn btn-lg btn-primary m-3">Volver al lobby</a>
        </div>
    </div>
</main>