<main class="py-5">
    <div class="content container px-lg-5 p-4 bg-light rounded-3">
        <h1 class="col-11"> Estadisticas de usuarios</h1>
    <article class="mx-auto">
        <br>
        {{#empty}}
            <h2 class="text-center fw-bold display-5"> No hay jugadores en la fecha seleccionada</h2>
        {{/empty}}
        {{^empty}}
            <div class="d-flex">
                <h2 class="col-10"> Total de usuarios para la fecha seleccionada: {{totalPlayers}} </h2>
                <a href="/admin/totalPlayersPdf" class="btn btn-primary col-1">
                    <i class="fa-solid fa-file-arrow-down"></i> PDF
                </a>
                <a href="/admin/playersGraph" class="btn btn-primary col-1">Ver Gráficos</a>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre de Usuario</th>
                    <th>Email</th>
                    <th>Género</th>
                    <th>Fecha de Nac.</th>
                    <th>Fecha registro</th>
                    <th>Respuestas correctas</th>
                </tr>
                </thead>
                <tbody>
                {{#allPlayers}}
                    <tr>
                        <td>{{Id}}</td>
                        <td>{{Nombre_usuario}}</td>
                        <td>{{Mail}}</td>
                        <td>{{Genero}}</td>
                        <td>{{Fecha_nacimiento}}</td>
                        <td>{{Fecha_registro}}</td>
                        <td>{{nivel}}%</td>
                    </tr>
                {{/allPlayers}}
                {{^allPlayers}}
                    <tr>
                        <td colspan="6" class="text-center fw-bold display-5"> No hay jugadores</td>
                    </tr>
                {{/allPlayers}}
                </tbody>
            </table>
        </article>
        {{/empty}}
        <div class="pagination">
            {{#paginas}}
                <a href="?pagina={{numero}}" class="{{#esActual}}active{{/esActual}}">{{numero}}</a>
            {{/paginas}}
        </div>
        <div class="d-flex justify-content-center">
            <br>
            <a href="/lobby" class="btn btn-lg btn-primary m-3">Volver al lobby</a>
        </div>
    </div>
</main>

