{{>headerLogout}}

<h1>Hola {{nombre_usuario}} !</h1>
<h2>Validá tu email</h2>
<form action="/lobby/validar" method="post" enctype="multipart/form-data">
    <input type="submit"value="Validar" class="btn btn-primary btn-lg">
</form>

{{>footer}}